@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-pagination {
  position: relative;
  padding-top: 16px;
  line-height: 0;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.swiper-pagination-bullet {
  flex-shrink: 0;
  margin: 0 !important;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 0.8;
}
