@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-pagination {
  display: block !important;
  position: relative;
  margin-top: 8px;
}

.swiper-pagination-bullet {
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 0.8;
}
